.screen{
    position:absolute;
    width:55%;
    height:77%;
    top:12%;
    border-radius:2px;
    left:7.2%;
    border:1px solid #444;
    overflow:hidden;
    background:url('/img/Foto.jpg') center;
    background-position: center center;
    background-size:100%;}


.header-blue .iphone-mockup .screen:before{content:'';background-color:#fff;position:absolute;width:90%;height:140%;top:-12%;right:-60%;transform:rotate(-19deg);opacity:.2}

.navbar{

  background-color: #1da1f2;
  color: #fff;
  

}


.hero{
    background-color:rgb(255, 253, 253);
}



.btn-light.action-button.btn{

  background: #0d6ea9;
  color: #fff; 
  display: inline-block;
  font-size: 14px; 
  margin-left: 5px;
  padding: 10px 0px;
  text-align: center;
  width: 150px;
  text-decoration: none;
 
}

/*Boton de para compartir*/

.btn-light.action-button.btn.share{

  width: 100px;

}

.btn-light.action-button.btn.inicio{
  width: 380px;
  padding: 10px 5px;


}

.btn-light.action-button.btn.crear{
  width: 380px;
  padding: 10px 5px;
}
