.screen{
    position:absolute;
    width:55%;
    height:77%;
    top:12%;
    border-radius:2px;
    left:7.2%;
    border:1px solid #444;
    overflow:hidden;
    background:url('/img/Foto.jpg') center;
    background-position: center center;
    background-size:100%;}


.header-blue .iphone-mockup .screen:before{content:'';background-color:#fff;position:absolute;width:90%;height:140%;top:-12%;right:-60%;transform:rotate(-19deg);opacity:.2}

.navbar{

  background-color: #1da1f2;
  color: #fff;
  

}
/*.navbar-text{
  width:9%;
    color: #fff;
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

}*/


.hero{
    background-color:rgb(255, 253, 253);
}


/*Estilo de los botones del inicio de sesion*/
/*.button{

  background: #64b2cd;
  color: #fff;
  border: none;
  border-radius: 50px;
  display: inline-block;
  font-size: 25px;
  margin: 5px;
  text-align: center;
  width: 150px;
  text-decoration:none;
  box-shadow: 0px 3px 0px #266792;

}*/

/*Boton de inicio de sesion*/

.btn-light.action-button.btn{

  background: #1b2a49;
  color: #fff; 
  display: inline-block;
  font-size: 14px; 
  margin-left: 5px;
  padding: 10px 0px;
  text-align: center;
  width: 150px;
  text-decoration: none;
 
}

/*Boton de para compartir*/

.btn-light.action-button.btn.share{

  width: 100px;

}